
<h3>Others who added <%= @song.artist + " - "+ @song.title%> : <%= @song.playlists.count%> times</h3>
<h3>IDK y these things not showing up! however peaces out!</h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Times Added</th>
		</tr>
	</thead>
	<tbody>
		<% @song.users.each do |s| %>
			<tr>
				<td><a href="/users/<%= s.id%>"> <%= s.first_name%></a></td>
				<td><%= s.count%></td>
			</tr>
		<% end %>
	</tbody>

</table>